server:
  port: ${SERVER_PORT:8080}

auth:
  jwt:
    issuer: auth-service

spring:
  config:
    import: "optional:classpath:/"
  main:
    allow-bean-definition-overriding: true
  jackson:
    time-zone: Asia/Ho_Chi_Minh
  application:
    name: user
  cloud:
    config:
      enabled: false
    consul:
      host: ${CONSUL_HOST:consul}
      port: ${CONSUL_PORT:8500}
      config:
        enabled: false
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}-${server.port}
        deregister: true
        health-check-critical-timeout: 1m
  datasource:
    url: jdbc:postgresql://${USER_HOST:localhost}:${USER_DB_PORT:5432}/${USER_DB_NAME:user_db}
    username: ${USER_DB_USER:postgres}
    password: ${USER_DB_PASS:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: user-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: "org.workfitai.userservice.dto.kafka.UserRegistrationEvent"
      enable-auto-commit: false
      auto-offset-reset: earliest
    retry:
      topic: 
        attempts: 3
        delay: 1000
        max-delay: 10000
        multiplier: 2.0
    dlt:
      enabled: true
      suffix: "-dlt"
      
app:
  kafka:
    topics:
      user-registration: user-registration
      user-registration-dlt: user-registration-dlt

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    org.springframework.cloud.config: DEBUG

service:
  auth:
    url: ${AUTH_SERVICE_URL:http://auth-service:9005}
