global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alert rules
rule_files:
  - /etc/prometheus/alert_rules.yml

# Spring Boot Micrometer uses /actuator/prometheus
scrape_configs:
  - job_name: 'spring-boot-services'
    metrics_path: /actuator/prometheus
    static_configs:
      # use container DNS names + container ports
      - targets:
          - api-gateway:9005         # mapped to 8088 outside, but 9005 in container
          - auth-service:9005
          - monitoring-service:9086  # Config Server port
          - job-service:8080
          - user-service:8080
          - cv-service:8080
          - application-service:8080