server:
  port: 9005

spring:
  application:
    name: monitoring-service
  
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  config:
    import: "optional:vault://secret/monitoring-service"

  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        service-name: monitoring-service
        health-check-path: /actuator/health
        prefer-ip-address: true
        ip-address: ${DISCOVERY_IP_ADDRESS:127.0.0.1}
      config:
        enabled: false

    vault:
      host: ${VAULT_HOST:localhost}
      port: ${VAULT_PORT:8200}
      scheme: http
      authentication: TOKEN
      token: ${VAULT_TOKEN:dev-token}
      kv:
        enabled: true
        backend: secret

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

elasticsearch:
  host: ${ELASTICSEARCH_HOST:localhost}
  port: ${ELASTICSEARCH_PORT:9200}

kibana:
  host: ${KIBANA_HOST:localhost}
  port: ${KIBANA_PORT:5601}

logging:
  level:
    root: INFO

---
spring:
  config:
    activate:
      on-profile: docker
    import: "optional:vault://secret/monitoring-service"

  cloud:
    consul:
      host: consul
      port: 8500
      discovery:
        service-name: monitoring-service
        ip-address: monitoring-service

    vault:
      host: vault
      port: 8200
      scheme: http
      authentication: TOKEN
      token: ${VAULT_TOKEN:myroot}
      kv:
        enabled: true
        backend: secret

  kafka:
    bootstrap-servers: kafka:9092

  data:
    redis:
      host: api-redis

elasticsearch:
  host: elasticsearch
  port: 9200
  username: elastic
  password: workfitai123

kibana:
  host: kibana
  port: 5601
  username: elastic
  password: workfitai123
