server:
  port: 8080

spring:
  application:
    name: cv

  cloud:
    consul:
      host: ${CONSUL_HOST:consul}
      port: ${CONSUL_PORT:8500}
      config:
        enabled: false
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}-${server.port}
        deregister: true
        health-check-critical-timeout: 1m

  data:
    mongodb:
      uri: mongodb://${CV_DB_USER}:${CV_DB_PASS}@${CV_HOST}:${CV_DB_PORT}/${CV_DB_NAME}?authSource=${CV_DB_NAME}

auth:
  jwt:
    secret: ${AUTH_JWT_SECRET}
    issuer: auth-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

minio:
  endpoint: ${MINIO_ENDPOINT}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket: ${MINIO_BUCKET}
logging:
  level:
    org.springframework.cloud.config: DEBUG
    org.springframework.boot.actuate.health: DEBUG