server:
  port: ${API_GATEWAY_PORT:8080}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
    consul:
      host: ${CONSUL_HOST:consul}
      port: ${CONSUL_PORT:8500}
      config:
        enabled: false
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}-${server.port}
        deregister: true
        health-check-critical-timeout: 1m

management:
  endpoints:
    web:
      exposure:
        include: gateway, health

logging:
  level:
    org:
      springframework:
        cloud:
          gateway: DEBUG
          "[gateway.handler.RoutePredicateHandlerMapping]": TRACE
        security: TRACE
    reactor:
      netty:
        http:
          client: DEBUG

resilience4j:
  circuitbreaker:
    instances:
      patientCB:
        sliding-window-size: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
      keycloakAuthCB:
        sliding-window-size: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
  timelimiter:
    instances:
      patientCB:
        timeout-duration: 10s
      keycloakAuthCB:
        timeout-duration: 10s
