<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Add a fixed field derived from Spring property -->
                <provider class="net.logstash.logback.composite.GlobalCustomFieldsJsonProvider">
                    <customFields>{"appName":"${spring.application.name:-unknown}"}</customFields>
                </provider>

                <!-- standard fields -->
                <timestamp/>
                <version/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>